@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Source+Code+Pro:wght@300;400;500;600&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Source Code Pro', sans-serif;
    color: white;
}

#logo {
    margin-top: 3.5rem;
    margin-left: 4rem;
}

#header-trait {
    position: absolute;
    background-color: rgb(88, 88, 88);
    left: 15%;
    top: 9%;
    height: 1px; 
    width: 25rem;
    z-index: 1;
}

nav {
    float: right;
    background-color: rgba(183, 183, 183, 0.109);
    backdrop-filter: blur(20px);
    height: 5rem;
    margin-top: 2rem;
    padding: 0.35rem 10rem 0.25rem 6rem;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
}

li {
    margin-right: 40px;
}

a {
    text-decoration: none;
    color: white;
}

span {
    text-decoration: none;
}

.label-img, #toggle {
    width: 30px;
    height: auto;
    display: none;
}

.number {
    color: var(--transparent-grey);
}

main {
    margin-top: 5%;
    margin-left: 10%;
}

.page-selected {
    color: rgba(176, 176, 176, 0.597);
}



@media screen and (max-width:765px) {
    #logo {
        margin-top: 2.5rem;
        margin-left: 2rem;
    }

    #header-trait {
        display: none;
    }

    nav {
        position: absolute;
        top: 1%;
        right: 0%;
        height: 3.5rem;
        padding: 0rem 1rem 0rem 1.5rem;
    }

    ul {
        height: 1.5rem;
    }
}



@media screen and (max-width:550px) {
    nav {
        display: none;
        height: 100px;
        padding: 0rem 0.5rem 0rem 1rem;
    }

    nav ul {
        display: none;
        flex-direction: column;
        height: 3rem;
        margin-top: 1.5rem;
    }

    .label-img {
        display: flex;
        margin-left: 50%;
        margin-top: -7%;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    #toggle:checked + nav, nav ul {
        display: flex;
    }
}