:root {
    --transparent-grey: rgba(161, 190, 217, 0.661); 
}

body {
    background-image: url(../assets/technology/background-technology-desktop.jpg); 
    background-position: fixed;
}

#container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2%;
    margin-left: 5%;
}

.tech-container {
    display: grid;
    grid-template-columns: 0.5fr 15fr;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.tech-input {
    display: none;
}

.tech-label {
    color: white;
    border: 3px var(--transparent-grey);
    border-radius: 10rem;
    margin-top: 6rem;
    background-color: orange;
    padding: 0.75rem;
    cursor: pointer;
}

/*
.tech-input:checked + .tech-label {
    background-color: white;
    color: black;
}*/

.terminology {
    color: var(--transparent-grey);
}

h2 {
    font-size: 4rem;
    margin: 0;
}

.text {
    margin-right: 15%;
    color: var(--transparent-grey);
}

.first-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
    margin-left: 6rem;
}

.second-column img {
    float: right;
    top: 0;
}




@media screen and (max-width:900px) {
    body {
        background-image: url(../assets/technology/background-technology-tablet.jpg);
    }

    main {
        margin-top: 5%;
        margin-left: 10%;
    }
    
    #container {
        margin-top: 2%;
        margin-left: 0%;
    }
    
    .tech-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 0.5fr 2fr;
        margin-top: -10%;
    }
    
    .input-container {
        flex-direction: row;
    }
    
    .tech-label {
        height: 20px;
        width: 10px;
        justify-content: center;
        align-items: center;
        margin-right: 5rem;
    }
    
    h2 {
        font-size: 3rem;
    }
    
    .text {
        margin-right: 15%;
    }
    
    .first-column {
        margin-left: 0rem;
    }

    .second-column {
        margin-top: 23%;
    }
    
    .second-column img {
        width: 20rem;
    }
}



@media screen and (max-width:550px) {
    body {
        background-color: url(../assets/technology/background-technology-mobile.jpg);
    }

    main {
        margin-top: 11%;
        margin-left: 5%;
    }
    
    #container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 0.75fr);
        margin-top: 12%;
        margin-bottom: 0%;
    }
    
    .tech-container {
        margin-top: -18%;
    }
    
    .tech-label {
        height: 12px;
        width: 10px;
    }
    
    h2 {
        font-size: 1.75rem;
    }

    .first-column {
        height: 20vh;
    }

    .second-column {
        margin: 45px 0px 0px 0px;
    }
    
    .second-column img {
        float: left;
        width: 15rem;
    }

    .text {
        font-size: 0.9rem;
    }
}